@tailwind base;
@tailwind components;
@tailwind utilities;


.button {
    width: 150px;
}

.dark .button {
    background-color: #000000;
    color: #f9bf29;
}

.dark body {
    background-color: #222;
    color: white;
}

@layer base {
    @font-face {
        font-family: "Roboto";
    }
    img {
        width: 100%;
    }
    .section {
        @apply container mx-auto py-[8rem] px-6;
    }
}
